<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminder</title>
    <style>
        .h-50 {
            height: 50px;
        }

        .container {
          display: flex;
          flex-direction: column; /* Stack the h1 and form vertically */
          align-items: center; /* Center the form and h1 horizontally */
          height: 100vh; /* Full viewport height to center vertically */
          background-color: aqua;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="h-50"></div>
        <div class="alert alert-success">
            <h1>:) <%= msg %></h1>
            <p><a href="<%= url %>">点击跳转</a></p>
        </div>
    </div>
</body>
</html>